* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-top {
    display: flex;
    height: 90px;
    justify-content: center;
    background-color: #f18700;
    gap: 10rem;
}

.container-top a {
        text-decoration: none;
        color: aliceblue;
}

.nav-bar {
    display: flex;
}

.logo-img {
        margin-top: 15px;
        height: 60.38px;
        width: 225px;
}

.list-social-redes {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 0.7rem;
    margin-top: 0.8rem;
}

.list-header {
    display: flex;
    list-style: none;
    padding-top: 1.7rem;
    gap: 1rem;
}

.dropdown-menu {
    display: none;
    background-color: #f9b000;
    position: absolute;
    border-radius: 5px;
}

.dropdown-menu a {
    display: block;
    color: white;
    padding: 8px;
}

.dropdown-menu a:hover {
    display: block;
    padding: 8px;
    color:rgb(255, 214, 119);
    transition: 1s;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.container-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    max-height: 500px;
}

.container-imagens {
    display: flex;
    transition: transform 0.5s;
    width: 300%;
}

.slider {
    width: 100vw;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.prev-button, .next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}